<div class="panel panel-default">
    <div class="panel-heading">失业人员领取失业保险金申领单</div>
    <div class="panel-body">
        <table class="table table-style">
            <tbody>
            <tr>
                <td>失业人员姓名</td>
                <td><input type="text" ng-model="Model.Name"/></td>
                <td>性别</td>
                <td><input type="text" ng-model="Model.Sex"/></td>
                <td>出生年月</td>
                <td><input type="text" ng-model="Model.BirthDay"/></td>
            </tr>
            <tr>
                <td>领取证编号
                <td>
                <td colspan="2"><input type="text" ng-model="Model.GetNo"/></td>
                <td>申领月份</td>
                <td colspan="2"><input type="text" ng-model="Model.GetMonth"/></td>
            </tr>
            <tr>
                <td>申领失业保险金额
                <td>
                <td colspan="3">大写<input type="text" ng-model="Model.AmountUpper"/>（￥<input type="text"
                                                                                            ng-model="Model.AmountNumber"/>）
                </td>
            </tr>
            <tr>
                <td rowspan="2">现金付讫章</td>
                <td>经手人:<input type="text" ng-model="Model.ProcessPerson"/></td>
                <td rowspan="2">领款人:<input type="text" ng-model="Model.ReceivePerson"/></td>
                <td>付款日期
                <td>
            </tr>
            <tr>
                <td>复核人:<input type="text" ng-model="Model.ReAuditPerson"/></td>
                <td><input type="text" ng-model="Model.PayDate" placeholder="年月日"/></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>

