<div class="panel panel-default" ng-init="rows=[0];Model={}">
    <div class="panel-heading">医疗保险费单位缴费月报表
        <button class="pull-right" ng-click="rows.push(rows.length);"><i class="fa fa-plus"></i> 添加行</button>
    </div>
    <div class="panel-body">
        <table class="table table-style">
            <thead>
            <tr>
                <th rowspan="2">序号</th>
                <th rowspan="2">*姓名</th>
                <th rowspan="2">性别</th>
                <th rowspan="2">*公民身份证号码</th>
                <th colspan="5">*参加险种</th>
                <th colspan="2">*个人缴费/支付(恢复)原因</th>
                <th rowspan="2">申报月工资收入/档次(元)</th>
                <th rowspan="2">*增加日期</th>
            </tr>
            <tr>
                <th>养老</th>
                <th>失业</th>
                <th>工伤</th>
                <th>生育</th>
                <th>医疗</th>
                <th>四险</th>
                <th>医疗</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in rows">
                <td>{{row+1}}</td>
                <td><input type="text" ng-model="Model[row].Name"/></td>
                <td><input type="text" ng-model="Model[row].Sex"/></td>
                <td><input type="text" ng-model="Model[row].Identity"/></td>
                <td><input type="text" ng-model="Model[row].YangLao"/></td>
                <td><input type="text" ng-model="Model[row].ShiYe"/></td>
                <td><input type="text" ng-model="Model[row].GongShang"/></td>
                <td><input type="text" ng-model="Model[row].ShengYu"/></td>
                <td><input type="text" ng-model="Model[row].YiLiao"/></td>
                <td><input type="text" ng-model="Model[row].SiXian"/></td>
                <td><input type="text" ng-model="Model[row].YiLiao2"/></td>
                <td><input type="text" ng-model="Model[row].Level"/></td>
                <td><input type="text" ng-model="Model[row].Date"/></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

