<ng-include src="'partials/header.html'"></ng-include>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            导入学生<a href="template.csv" class="pull-right">模板下载</a>
        </div>
        <div class="panel-body">
            <file-uploader></file-uploader>
        </div>
        <!--<div class="panel-footer text-right">-->
            <!--<button class="btn btn-default"><i class="fa fa-mail-reply"></i>  导入</button>-->
        <!--</div>-->
    </div>
</div>
<ng-include src="'partials/footer.html'"></ng-include>