<ng-include src="'partials/header.html'"></ng-include>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            成绩列表
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>学号</th>
                    <th>姓名</th>
                    <th>总题数</th>
                    <th>正确题数</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>23243</td>
                    <td>23243</td>
                    <td>23243</td>
                    <td>23243</td>
                </tr>
                <tr>
                    <td>23243</td>
                    <td>23243</td>
                    <td>23243</td>
                    <td>23243</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer text-right">
            <button class="btn btn-default">导出</button>
            <button class="btn btn-default"><i class="fa fa-print"></i>  打印</button>
        </div>
    </div>
</div>
<ng-include src="'partials/footer.html'"></ng-include>