<ng-include src="'partials/header.html'"></ng-include>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            成绩列表
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>学号</th>
                    <th>姓名</th>
                    <th>总题数</th>
                    <th>正确题数</th>
                </tr>
                </thead>
                <tbody ng-if="scores.length>0">
                <tr ng-repeat="score in scores">
                    <td>score.UserID</td>
                    <td>score.UserName</td>
                    <td>score.Count</td>
                    <td>score.ErrorCount</td>
                </tr>
                </tbody>
                <tbody ng-if="scores.length<=0">
                <tr>
                    <td colspan="4">没有数据</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="panel-footer text-right hidden-print" ng-if="scores.length>0">
            <button class="btn btn-default hidden"><i class="fa fa-mail-forward"></i> 导出</button>
            <button class="btn btn-default" onclick="window.print()"><i class="fa fa-print"></i> 打印</button>
        </div>
    </div>
</div>
<ng-include src="'partials/footer.html'"></ng-include>