<ng-include src="'partials/header.html'"></ng-include>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            发起流程
        </div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label>流程名称</label>
                    <custom-select ng-model="Model.ProcessName"
                                   source="workflows"
                                   onchange="changeWorkflow($event)"></custom-select>
                </div>
            </form>
            <ul class="list-group" ng-show="selectedWorkflow">
                <li class="list-group-item" style="line-height: 30px;" ng-repeat="node in selectedWorkflow.Tasks">
                    {{node}}
                    <div class="pull-right">
                        <team-select ng-model="Model.NodeTeams[node]" source="teamSource"></team-select>
                    </div>
                </li>
            </ul>
        </div>
        <div class="panel-footer text-right" ng-show="selectedWorkflow">
            <button class="btn btn-default" disabled-when-click="initExam(Model)"><i class="fa fa-flag-o"></i> 开始</button>
        </div>
    </div>
</div>
<ng-include src="'partials/footer.html'"></ng-include>