<ng-include src="'partials/header.html'"></ng-include>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            发起流程
        </div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label >流程名称</label>
                    <select>
                        <option>1</option>
                    </select>
                </div>
            </form>
            <ul class="list-group">
                <li class="list-group-item" style="line-height: 30px;">流程节点 <div class="pull-right"><team-select ng-model="Model.team1" source="teamSource"></team-select></div></li>
                <li class="list-group-item" style="line-height: 30px;">流程节点 <div class="pull-right"><team-select ng-model="Model.team2" source="teamSource"></team-select></div></li>
                <li class="list-group-item" style="line-height: 30px;">流程节点 <div class="pull-right"><team-select ng-model="Model.team3" source="teamSource"></team-select></div></li>
                <li class="list-group-item" style="line-height: 30px;">流程节点 <div class="pull-right"><team-select ng-model="Model.team4" source="teamSource"></team-select></div></li>
                <li class="list-group-item" style="line-height: 30px;">流程节点 <div class="pull-right"><team-select ng-model="Model.team5" source="teamSource"></team-select></div></li>
                <li class="list-group-item" style="line-height: 30px;">流程节点 <div class="pull-right"><team-select ng-model="Model.team6" source="teamSource"></team-select></div></li>
            </ul>
        </div>
        <div class="panel-footer text-right">
            <button class="btn btn-default"><i class="fa fa-flag-o"></i>  开始</button>
        </div>
    </div>
</div>
<ng-include src="'partials/footer.html'"></ng-include>