<ng-include src="'partials/header.html'"></ng-include>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            发起流程
        </div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label >流程名称</label>
                    <select>
                        <option>1</option>
                    </select>
                </div>
            </form>
            <ul class="list-group">
                <li class="list-group-item">流程节点<a href="javascript:void(0)" class="pull-right"><i class="fa fa-plus"></i>  添加组</a></li>
                <li class="list-group-item">流程节点<a href="javascript:void(0)" class="pull-right"><i class="fa fa-plus"></i>  添加组</a></li>
                <li class="list-group-item">流程节点<a href="javascript:void(0)" class="pull-right"><i class="fa fa-plus"></i>  添加组</a></li>
                <li class="list-group-item">流程节点<a href="javascript:void(0)" class="pull-right"><i class="fa fa-plus"></i>  添加组</a></li>
                <li class="list-group-item">流程节点<a href="javascript:void(0)" class="pull-right"><i class="fa fa-plus"></i>  添加组</a></li>
                <li class="list-group-item">流程节点<a href="javascript:void(0)" class="pull-right"><i class="fa fa-plus"></i>  添加组</a></li>
            </ul>
        </div>
        <div class="panel-footer text-right">
            <button class="btn btn-default">开始</button>
        </div>
    </div>
</div>
<ng-include src="'partials/footer.html'"></ng-include>