<ng-include src="'partials/header.html'"></ng-include>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            答案设置
        </div>
        <div class="panel-body">
            <form>
                <div class="form-group">
                    <label >表单名称</label>
                    <custom-select ng-model="Model.formName" source="forms"></custom-select>
                </div>
            </form>
            <ng-include src="'forms/医疗保险费单位缴费月报表.html'"></ng-include>
        </div>
        <div class="panel-footer text-right">
            <button class="btn btn-default"><i class="fa fa-save"></i>  保存正确答案</button>
        </div>
    </div>
</div>
<ng-include src="'partials/footer.html'"></ng-include>