<ng-include src="'partials/header.html'"></ng-include>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            流程查看
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>流程名称</th>
                    <th>任务名称</th>
                    <th>代办人</th>
                    <th>状态</th>
                    <th>创建时间</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="t in unfinshedTasks">
                    <td>{{t.DefineName}}</td>
                    <td>{{t.NodeName}}</td>
                    <td>{{t.CreaterName}}</td>
                    <td>{{t.Status}}</td>
                    <td>{{t.CreateDate}}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5">
                        <nav class="pull-right">
                            <ul class="pagination">
                                <li ng-class="{disabled:filter.PageInfo.PageIndex==0}">
                                    <a href="javascript:void(0)"
                                       ng-click="filter.PageInfo.PageIndex>0?filter.PageInfo.PageIndex=filter.PageInfo.PageIndex-1:1">
                                        <span>&laquo;</span>
                                    </a>
                                </li>
                                <li ng-class="{active:page==filter.PageInfo.PageIndex}"
                                    ng-repeat="page in [] | TIMES:totalPage track by $index">
                                    <a href="javascript:void(0)" ng-click="filter.PageInfo.PageIndex=page">{{page+1}}
                                        <span class="sr-only">(current)</span>
                                    </a>
                                </li>
                                <li ng-class="{disabled:filter.PageInfo.PageIndex==totalPage}">
                                    <a href="javascript:void(0)"
                                       ng-click="filter.PageInfo.PageIndex<totalPage?filter.PageInfo.PageIndex=filter.PageInfo.PageIndex+1:1">
                                        <span>&raquo;</span>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<ng-include src="'partials/footer.html'"></ng-include>