<ng-include src="'partials/header.html'"></ng-include>
<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            流程查看
        </div>
        <div class="panel-body">
            <table class="table">
                <thead>
                <tr>
                    <th>流程名称</th>
                    <th>任务名称</th>
                    <th>待办人</th>
                    <th>状态</th>
                    <th>创建时间</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="t in unfinshedTasks">
                    <td>{{t.DefineName}}</td>
                    <td>{{t.NodeName}}</td>
                    <td>{{t.OwnerName}}</td>
                    <td>{{t.Status}}</td>
                    <td>{{t.CreateDate}}</td>
                </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="5">
                        <pager page-index="filter.PageInfo.PageIndex" page-size="filter.PageInfo.PageSize" total="total"></pager>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
<ng-include src="'partials/footer.html'"></ng-include>