<div class="panel panel-default">
    <div class="panel-heading">按月领取养老金人员登记表</div>
    <div class="panel-body">
        <p><label>组织机构代码:</label><input ng-model="Model.zuzhijigoudaima">
        <label>单位名称(章):</label><input ng-model="Model.danweimingchen">
        <label style="width:120px;">退休核准表编号:</label><input ng-model="Model.tuixiuhezhunbiaobianhao"></p>
        <table class="table table-style">
            <tr>
                <td>电脑序号</td>
                <td colspan="2">公民身份号码</td>
                <td>姓名</td>
                <td>性别</td>
                <td>民族</td>
                <td>出生年月</td>
                <td>户口性质</td>
                <td>外埠标志</td>
                <td>现居住地址</td>
                <td>街道编码</td>
                <td>邮政编码</td>
            </tr>
            <tr>
                <td><input ng-model="Model.r1c0" /></td>
                <td colspan="2"><input ng-model="Model.r1c1" /></td>
                <td><input ng-model="Model.r1c2" /></td>
                <td><input ng-model="Model.r1c3" /></td>
                <td><input ng-model="Model.r1c4" /></td>
                <td><input ng-model="Model.r1c5" /></td>
                <td><input ng-model="Model.r1c6" /></td>
                <td><input ng-model="Model.r1c7" /></td>
                <td><input ng-model="Model.r1c8" /></td>
                <td><input ng-model="Model.r1c9" /></td>
                <td><input ng-model="Model.r1c10" /></td>
            </tr>
            <tr>
                <td rowspan="2">用工形式</td>
                <td rowspan="2">职工身份</td>
                <td rowspan="2">专业技术职务</td>
                <td rowspan="2">工人技术等级</td>
                <td rowspan="2">行政职务</td>
                <td rowspan="2">参加工作年月日</td>
                <td colspan="4">缴费年限</td>
                <td rowspan="2">个人账户金额</td>
                <td rowspan="2">个人缴费</td>
            </tr>
            <tr>
                <td>合计</td>
                <td>视同缴费年限</td>
                <td>实际缴费年限</td>
                <td>趸缴年限</td>
            </tr>
            <tr>
                <td><input ng-model="Model.r4c0" /></td>
                <td><input ng-model="Model.r4c1" /></td>
                <td><input ng-model="Model.r4c2" /></td>
                <td><input ng-model="Model.r4c3" /></td>
                <td><input ng-model="Model.r4c4" /></td>
                <td><input ng-model="Model.r4c5" /></td>
                <td><input ng-model="Model.r4c6" /></td>
                <td><input ng-model="Model.r4c7" /></td>
                <td><input ng-model="Model.r4c8" /></td>
                <td><input ng-model="Model.r4c9" /></td>
                <td><input ng-model="Model.r4c10" /></td>
                <td><input ng-model="Model.r4c11" /></td>
            </tr>
            <tr>
                <td>增加日期</td>
                <td>退休分类</td>
                <td>退休钱所在单位代码</td>
                <td>退休钱所在单位名称</td>
                <td>经济类型</td>
                <td>隶属关系</td>
                <td>发放地点</td>
                <td>邮政汇款账号</td>
                <td>户口所在地址</td>
                <td>街道编号</td>
                <td>邮政编码</td>
                <td></td>
            </tr>
            <tr>
                <td><input ng-model="Model.r6c0" /></td>
                <td><input ng-model="Model.r6c1" /></td>
                <td><input ng-model="Model.r6c2" /></td>
                <td><input ng-model="Model.r6c3" /></td>
                <td><input ng-model="Model.r6c4" /></td>
                <td><input ng-model="Model.r6c5" /></td>
                <td><input ng-model="Model.r6c6" /></td>
                <td><input ng-model="Model.r6c7" /></td>
                <td><input ng-model="Model.r6c8" /></td>
                <td><input ng-model="Model.r6c9" /></td>
                <td><input ng-model="Model.r6c10" /></td>
                <td><input ng-model="Model.r6c11" /></td>
            </tr>
            <tr>
                <td rowspan="2">参保时间</td>
                <td rowspan="2">参保原因</td>
                <td rowspan="2">应缴费年限</td>
                <td colspan="3">特殊工种</td>
                <td rowspan="2" colspan="2">因病退休鉴定级别</td>
                <td rowspan="2" colspan="2">劳动能力鉴定表号</td>
                <td rowspan="2">批准退休时年龄</td>
                <td rowspan="2">批准支付日期</td>
            </tr>
            <tr>
                <td colspan="2">名称</td>
                <td>从事年限</td>
            </tr>
            <tr>
                <td><input ng-model="Model.r9c0" /></td>
                <td><input ng-model="Model.r9c1" /></td>
                <td><input ng-model="Model.r9c2" /></td>
                <td colspan="2"><input ng-model="Model.r9c3" /></td>
                <td><input ng-model="Model.r9c4" /></td>
                <td colspan="2"><input ng-model="Model.r9c5" /></td>
                <td colspan="2"><input ng-model="Model.r9c6" /></td>
                <td><input ng-model="Model.r9c7" /></td>
                <td><input ng-model="Model.r9c8" /></td>
            </tr>
            <tr>
                <td>N实结值</td>
                <td>N实指数</td>
                <td>N值(1998年6月缴费年限)</td>
                <td>上年职工月平均工资</td>
                <td>Z平</td>
                <td>T值</td>
                <td colspan="2">G平=(730*N*1%)*2.98</td>
                <td colspan="2">183号统筹支付金额</td>
                <td colspan="2">183号统筹养老金差额</td>
            </tr>
            <tr>
                <td><input ng-model="Model.r11c0" /></td>
                <td><input ng-model="Model.r11c1" /></td>
                <td><input ng-model="Model.r11c2" /></td>
                <td><input ng-model="Model.r11c3" /></td>
                <td><input ng-model="Model.r11c4" /></td>
                <td><input ng-model="Model.r11c5" /></td>
                <td colspan="2"><input ng-model="Model.r11c6" /></td>
                <td colspan="2"><input ng-model="Model.r11c7" /></td>
                <td colspan="2"><input ng-model="Model.r11c8" /></td>
            </tr>
        </table>
        <table class="table table-style">
            <tr>
                <td colspan="3">基础养老金</td>
                <td colspan="3">个人账户养老金</td>
                <td colspan="3">过渡性养老金</td>
                <td rowspan="2">过渡比例%</td>
                <td rowspan="2">养老金合计</td>
            </tr>
            <tr>
                <td>计发基数</td>
                <td>计发比例%</td>
                <td>计发金额</td>
                <td>计发月数</td>
                <td>个人账户补贴(机,事用)</td>
                <td>计发金额</td>
                <td>G视同</td>
                <td>G实际</td>
                <td>计发金额</td>
            </tr>
            <tr>
                <td><input ng-model="Model.r2c0" /></td>
                <td><input ng-model="Model.r2c1" /></td>
                <td><input ng-model="Model.r2c2" /></td>
                <td><input ng-model="Model.r2c3" /></td>
                <td><input ng-model="Model.r2c4" /></td>
                <td><input ng-model="Model.r2c5" /></td>
                <td><input ng-model="Model.r2c6" /></td>
                <td><input ng-model="Model.r2c7" /></td>
                <td><input ng-model="Model.r2c8" /></td>
                <td><input ng-model="Model.r2c9" /></td>
                <td><input ng-model="Model.r2c10" /></td>
            </tr>
        </table>
        <table class="table table-style">
            <tr>
                <td colspan="3">基础养老金</td>
                <td rowspan="2">个人账户养老金计发金额</td>
                <td rowspan="2">过渡性养老金G=(S*N*1%)*2.98</td>
                <td rowspan="2">综合补贴计发金额</td>
                <td colspan="2">因病退休</td>
                <td colspan="2">中断缴费核减(206号)</td>
                <td rowspan="2">2号令养老金合计</td>
            </tr>
            <tr>
                <td>计发基数</td>
                <td>计发比例%</td>
                <td>计发金额</td>
                <td>减发比例%</td>
                <td>减发金额</td>
                <td>中断缴费月数(206号)</td>
                <td>核减金额</td>
            </tr>
            <tr>
                <td><input ng-model="Model.r2c0" /></td>
                <td><input ng-model="Model.r2c1" /></td>
                <td><input ng-model="Model.r2c2" /></td>
                <td><input ng-model="Model.r2c3" /></td>
                <td><input ng-model="Model.r2c4" /></td>
                <td><input ng-model="Model.r2c5" /></td>
                <td><input ng-model="Model.r2c6" /></td>
                <td><input ng-model="Model.r2c7" /></td>
                <td><input ng-model="Model.r2c8" /></td>
                <td><input ng-model="Model.r2c9" /></td>
                <td><input ng-model="Model.r2c10" /></td>
            </tr>
        </table>
        <table class="table table-style">
            <tr>
                <td colspan="3">基础养老金</td>
                <td rowspan="2">个人账户养老金计发金额</td>
                <td rowspan="2">过渡性养老金G=(G平+Z平)*T</td>
                <td rowspan="2">综合补贴计发金额</td>
                <td colspan="2">因病退休</td>
                <td colspan="2">中断缴费核减</td>
                <td rowspan="2">养老金合计</td>
                <td rowspan="2">原机关事业办法纳入统筹项目目的养老金合计</td>
            </tr>
            <tr>
                <td>计发基数</td>
                <td>计发比例%</td>
                <td>计发金额</td>
                <td>减发比例%</td>
                <td>减发金额</td>
                <td>中断缴费月数(206号)</td>
                <td>核减金额</td>
            </tr>
            <tr>
                <td><input ng-model="Model.r2c0" /></td>
                <td><input ng-model="Model.r2c1" /></td>
                <td><input ng-model="Model.r2c2" /></td>
                <td><input ng-model="Model.r2c3" /></td>
                <td><input ng-model="Model.r2c4" /></td>
                <td><input ng-model="Model.r2c5" /></td>
                <td><input ng-model="Model.r2c6" /></td>
                <td><input ng-model="Model.r2c7" /></td>
                <td><input ng-model="Model.r2c8" /></td>
                <td><input ng-model="Model.r2c9" /></td>
                <td><input ng-model="Model.r2c10" /></td>
                <td><input ng-model="Model.r2c11" /></td>
            </tr>
        </table>
    </div>
</div>

