<div class="panel panel-default">
    <div class="panel-heading">失业保险金及其他失业保险待遇情况月报表</div>
    <div class="panel-body">
        <p style="display: inline;">
            <span style="padding-left:40%;"><input type="text" ng-model="Model.CreateDate" placeholder="年月"/></span>
            <span style="float:right;">单位：人</span>
        </p>
        <table class="table table-style">
            <tbody>
            <tr>
                <th rowspan="2"></th>
                <th rowspan="2">上月实有申领人数</th>
                <th rowspan="1" colspan="7">本月新增申领人数</th>
                <th rowspan="2">本月停止申领人数</th>
                <th rowspan="2">本月实有申领人数</th>
            </tr>
            <tr>
                <th>小计</th>
                <th>终止合同</th>
                <th>解除合同</th>
                <th>辞退</th>
                <th>开除</th>
                <th>除名</th>
                <th>其他</th>
            </tr>
            <tr>
                <td>合计</td>
                <td><input type="text" ng-model="Model.R0C1"/></td>
                <td><input type="text" ng-model="Model.R0C2"/></td>
                <td><input type="text" ng-model="Model.R0C3"/></td>
                <td><input type="text" ng-model="Model.R0C4"/></td>
                <td><input type="text" ng-model="Model.R0C5"/></td>
                <td><input type="text" ng-model="Model.R0C6"/></td>
                <td><input type="text" ng-model="Model.R0C7"/></td>
                <td><input type="text" ng-model="Model.R0C8"/></td>
                <td><input type="text" ng-model="Model.R0C9"/></td>
                <td><input type="text" ng-model="Model.R0C10"/></td>
            </tr>
            <tr>
                <td>第一档</td>
                <td><input type="text" ng-model="Model.R1C1"/></td>
                <td><input type="text" ng-model="Model.R1C2"/></td>
                <td><input type="text" ng-model="Model.R1C3"/></td>
                <td><input type="text" ng-model="Model.R1C4"/></td>
                <td><input type="text" ng-model="Model.R1C5"/></td>
                <td><input type="text" ng-model="Model.R1C6"/></td>
                <td><input type="text" ng-model="Model.R1C7"/></td>
                <td><input type="text" ng-model="Model.R1C8"/></td>
                <td><input type="text" ng-model="Model.R1C9"/></td>
                <td><input type="text" ng-model="Model.R1C10"/></td>
            </tr>
            <tr>
                <td>第二档</td>
                <td><input type="text" ng-model="Model.R2C1"/></td>
                <td><input type="text" ng-model="Model.R2C2"/></td>
                <td><input type="text" ng-model="Model.R2C3"/></td>
                <td><input type="text" ng-model="Model.R2C4"/></td>
                <td><input type="text" ng-model="Mod1e.R2C5"/></td>
                <td><input type="text" ng-model="Model.R2C6"/></td>
                <td><input type="text" ng-model="Model.R2C7"/></td>
                <td><input type="text" ng-model="Model.R2C8"/></td>
                <td><input type="text" ng-model="Model.R2C9"/></td>
                <td><input type="text" ng-model="Model.R2C10"/></td>
            </tr>
            <tr>
                <td>第三档</td>
                <td><input type="text" ng-model="Model.R3C1"/></td>
                <td><input type="text" ng-model="Model.R3C2"/></td>
                <td><input type="text" ng-model="Model.R3C3"/></td>
                <td><input type="text" ng-model="Model.R3C4"/></td>
                <td><input type="text" ng-model="Mod1e.R3C5"/></td>
                <td><input type="text" ng-model="Model.R3C6"/></td>
                <td><input type="text" ng-model="Model.R3C7"/></td>
                <td><input type="text" ng-model="Model.R3C8"/></td>
                <td><input type="text" ng-model="Model.R3C9"/></td>
                <td><input type="text" ng-model="Model.R3C10"/></td>
            </tr>
            <tr>
                <td>第四档</td>
                <td><input type="text" ng-model="Model.R4C1"/></td>
                <td><input type="text" ng-model="Model.R4C2"/></td>
                <td><input type="text" ng-model="Model.R4C3"/></td>
                <td><input type="text" ng-model="Model.R4C4"/></td>
                <td><input type="text" ng-model="Mod1e.R4C5"/></td>
                <td><input type="text" ng-model="Model.R4C6"/></td>
                <td><input type="text" ng-model="Model.R4C7"/></td>
                <td><input type="text" ng-model="Model.R4C8"/></td>
                <td><input type="text" ng-model="Model.R4C9"/></td>
                <td><input type="text" ng-model="Model.R4C10"/></td>
            </tr>
            <tr>
                <td>第五档</td>
                <td><input type="text" ng-model="Model.R5C1"/></td>
                <td><input type="text" ng-model="Model.R5C2"/></td>
                <td><input type="text" ng-model="Model.R5C3"/></td>
                <td><input type="text" ng-model="Model.R5C4"/></td>
                <td><input type="text" ng-model="Mod1e.R5C5"/></td>
                <td><input type="text" ng-model="Model.R5C6"/></td>
                <td><input type="text" ng-model="Model.R5C7"/></td>
                <td><input type="text" ng-model="Model.R5C8"/></td>
                <td><input type="text" ng-model="Model.R5C9"/></td>
                <td><input type="text" ng-model="Model.R5C10"/></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

