<div class="panel panel-default" >
    <div class="panel-heading">生育保险支付汇总表
    </div>
    <div class="panel-body">
        <table class="table table-style">
            <thead>
            <tr>
                <th colspan="3">本月支付单位个数</th>
                <th></th>
                <th>本月享受生育待遇人数</th>
                <th></th>
            </tr>
            <tr>
                <th colspan="3">项目</th>
                <th>本月人次</th>
                <th>本月金额</th>
                <th>累计金额</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td colspan="2">合计</td>
                <td><input type="text" ng-model="Model.r3c2"/></td>
                <td><input type="text" ng-model="Model.r3c3"/></td>
                <td><input type="text" ng-model="Model.r3c4"/></td>
                <td><input type="text" ng-model="Model.r3c5"/></td>
            </tr>
            <tr>
                <td colspan="2">生育津贴</td>
                <td><input type="text" ng-model="Model.r4c2"/></td>
                <td><input type="text" ng-model="Model.r4c3"/></td>
                <td><input type="text" ng-model="Model.r4c4"/></td>
                <td><input type="text" ng-model="Model.r4c5"/></td>
            </tr>
            <tr>
                <td rowspan="3">生育医疗费</td>
                <td>小计</td>
                <td><input type="text" ng-model="Model.r5c3"/></td>
                <td><input type="text" ng-model="Model.r5c4"/></td>
                <td><input type="text" ng-model="Model.r5c5"/></td>
                <td><input type="text" ng-model="Model.r5c6"/></td>
            </tr>
            <tr>
                <td>门诊医疗费</td>
                <td><input type="text" ng-model="Model.r6c3"/></td>
                <td><input type="text" ng-model="Model.r6c4"/></td>
                <td><input type="text" ng-model="Model.r6c5"/></td>
                <td><input type="text" ng-model="Model.r6c6"/></td>
            </tr>
            <tr>
                <td>住院医疗费</td>
                <td><input type="text" ng-model="Model.r7c3"/></td>
                <td><input type="text" ng-model="Model.r7c4"/></td>
                <td><input type="text" ng-model="Model.r7c5"/></td>
                <td><input type="text" ng-model="Model.r7c6"/></td>
            </tr>
            <tr>
                <td colspan="2">计划生育手术医疗费</td>
                <td><input type="text" ng-model="Model.r8c3"/></td>
                <td><input type="text" ng-model="Model.r8c4"/></td>
                <td><input type="text" ng-model="Model.r8c5"/></td>
                <td><input type="text" ng-model="Model.r8c6"/></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

