<div class="panel panel-default">
    <div class="panel-heading">社会保险单位信息登记表</div>
    <div class="panel-body">
        <table class="table table-style">
            <tbody>
                <tr>
                    <td>单位名称：<br/>Name of establishment</td>
                    <td><input type="text" ng-model="Model.CompanyName"/></td>
                </tr>
                <tr>
                    <td>住所（住址）：<br/>Value of establishment</td>
                    <td><input type="text" ng-model="Model.Address"/></td>
                </tr>
                <tr>
                    <td>单位类型：<br/>Type of establishment</td>
                    <td><input type="text" ng-model="Model.Type"/></td>
                </tr>
                <tr>
                    <td>法定代表人（负责人）：<br/>Legal representative(person in charge)</td>
                    <td><input type="text" ng-model="Model.PersonInCharge"/></td>
                </tr>
                <tr>
                    <td>组织机构统一代码：<br/>Unified code of organization</td>
                    <td><input type="text" ng-model="Model.OrganizationCode"/></td>
                </tr>
                <tr>
                    <td>有效期限：<br/>Duration of ralidity</td>
                    <td><input type="text" ng-model="Model.Duration"/></td>
                </tr>
                <tr>
                    <td>发证机构：<br/>Issued by</td>
                    <td><input type="text" ng-model="Model.IssuedBy"/></td>
                </tr>
                <tr>
                    <td>发证日期：<br/>Date of issue</td>
                    <td><input type="text" ng-model="Model.IssueDate"/></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">验证记录<br/>Verification records</td>
                </tr>
                <tr>
                    <td>验证机构：<br/>Verifying agency</td>
                    <td><input type="text" ng-model="Model.VerifyAgency"/></td>
                </tr>
                <tr>
                    <td>验证机构：<br/>Verifying agency</td>
                    <td><input type="text" ng-model="Model.VerifyAgency1"/></td>
                </tr>
                <tr>
                    <td>验证机构：<br/>Verifying agency</td>
                    <td><input type="text" ng-model="Model.VerifyAgency2"/></td>
                </tr>
                <tr>
                    <td>验证机构：<br/>Verifying agency</td>
                    <td><input type="text" ng-model="Model.VerifyAgency3"/></td>
                </tr>
                <tr>
                    <td>验证机构：<br/>Verifying agency</td>
                    <td><input type="text" ng-model="Model.VerifyAgency4"/></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

