<ng-include src="'partials/header.html'"></ng-include>
<div class="container">
    <div class="text-right" style="padding:10px;">
        <button ng-click="showImage()" class="btn btn-default">查看流程图</button>
        <button ng-repeat="btn in taskDetail.Transitions track by $index" class="btn btn-default"
                disabled-when-click="handle(btn)">
            {{btn.TransitionName}}
        </button>
    </div>
    <div class="panel panel-info" ng-init="expand=true" ng-if="taskDetail.PageDesc">
        <div class="panel-heading">
            <span class="glyphicon glyphicon-exclamation-sign"></span>
            备注
            <a class=" pull-right" href="javascript:void(0)" ng-click="expand=!expand">
                <span class="glyphicon " ng-class="{'glyphicon-menu-down':!expand,'glyphicon-menu-up':expand}"></span>
            </a>
        </div>
        <div class="panel-body" ng-show="expand">
            {{taskDetail.PageDesc}}
        </div>
    </div>
    <ng-include src="path"></ng-include>
</div>
<ng-include src="'partials/footer.html'"></ng-include>
