<!-- 显示一个任务列表 -->
<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title pull-left" style="padding-top:8px;">
            任务列表
        </h3>
        <button class="btn btn-default pull-right"><i class="glyphicon glyphicon-refresh"></i></button>
        <div class="clearfix"></div>
    </div>
    <div class="panel-body">
        <table class="table">
            <thead>
                <tr>
                    <th>任务名称</th>
                </tr>
            </thead>
            <tbody ng-if="tasks.length>0">
                <tr>
                    <td><a ng-href="#/task/{{1}}">任务1</a></td>
                </tr>
            </tbody>
            <tbody ng-if="tasks.length<=0">
                <tr>
                    <td colspan="1">您暂时没有任务!</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>