<div class="menu-container">
    <div class="menu-item">
        <dl class="clearfix">
            <dt>设置</dt>
            <dd>
                <a href="#/forms" class="menu-button"><i class="fa fa-cog fa-3x"></i><br>答案设置</a>
                <a href="#/import" class="menu-button"><i class="fa fa-plus fa-3x"></i><br>学生导入</a>
                <a class="menu-button"><i class="fa fa-cogs fa-3x"></i><br>题库设置</a>
                <a href="#/maintain_process" class="menu-button"><i class="fa fa-cogs fa-3x"></i><br>流程分类</a>
            </dd>
        </dl>
    </div>
    <div class="menu-item">
        <dl class="clearfix">
            <dt>考试</dt>
            <dd>
                <a href="#/workflow" class="menu-button"><i class="fa fa-check fa-3x"></i><br>发起流程</a>
                <a href="#/workflow/view" class="menu-button"><i class="fa fa-building-o fa-3x"></i><br>流程查看</a>
                <a class="menu-button" ng-click="doneAll()"><i class="fa fa-stop fa-3x"></i><br>业务关闭</a>

            </dd>
        </dl>
    </div>
    <div class="menu-item">
        <dl class="clearfix">
            <dt>评阅</dt>
            <dd>
                <a href="#/scores" class="menu-button"><i class="fa fa-sticky-note-o fa-3x"></i><br>成绩查看</a>
                <a class="menu-button" ng-click="clearData()"><i class="fa fa-remove fa-3x"></i><br>清除数据</a>
            </dd>
        </dl>
    </div>


</div>