<header style="display: none;">
    <div class="container">
        <img src="img/logo.png">
        <h1>川大政务</h1>
        <div class="btn-group pull-right" style="margin-top:20px;">
            <button class="btn btn-default dropdown-toggle" data-toggle="dropdown">
                <i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;<span class="hidden-sm hidden-xs">张三</span>
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                <li><a href="javascript:void(0)">退出</a></li>
            </ul>
        </div>
    </div>
</header>