
header {
  background-color: #1d9ce5;
  color: white;
  margin-bottom: 10px;
  h1 {
    display: inline-block;
    width: 160px;
  }
  img{
    width: 60px;
    vertical-align: top;
    margin-top: 5px;
  }
  .login-info {
    margin: 10px 10px 0 0;
  }
}

footer {
  border-top: solid 1px #ddd;
  p {
    padding: 10px 0;
  }
}

.table-style {
  border-right: solid 1px black !important;
  border-bottom: solid 1px black !important;
  thead {
    background-color: #4d90b2;
    color: white;
  }
  th, td {
    text-align: center;
    border-left: solid 1px black !important;
    border-top: solid 1px black !important;
  }
  th {
    border-bottom: none !important;
    vertical-align: middle !important;
  }

  td {
    padding: 0 !important;
    vertical-align: middle !important;
    background-color: #e2f3fc;
  }
  td input[type=text] {
    width: 100%;
    outline: none;
    border: none;
    padding: 8px;
    text-align: center;
  }
}

.menu-container{
  @borderBaseColor:#8ccbe8;
  margin-top:10%;
  padding:20px;
  text-align: center;
  .menu-button{
    background-color: #fff;
    color:#333;
    text-decoration: none;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    display: inline-block;
    border: 1px solid rgb(173, 173, 173);
    border-radius: 4px;
    padding:10px;
    margin:0 10px;
    i{color:#054c3e;}
  }
  .menu-item{
    border: 1px dotted gray;
    border-left: 10px solid @borderBaseColor;
    padding:10px;
    margin:5px;
    text-align: left;
    dl{margin: 0;}
    dt,dd{display:inline-block;}
    dt{writing-mode: vertical-rl;vertical-align: middle;letter-spacing: 3px; font-size:20px;padding:0 10px;}

  }
  .menu-item:nth-child(2){border-left-color:@borderBaseColor+20;}
  .menu-item:nth-child(3){border-left-color:@borderBaseColor+40;}
}

.notify{
  position:fixed;
  width:300px;
  top:10%;
  left:50%;
  margin-left:-150px;
  text-align: center;
}